.input-form{
    margin-top: 24vh;
    font-size: 19px;
    font-weight: 450;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-left: 4vw;
    
}
.input-name-number{
    height: 4.8vh;
    width: 27vw;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    
}
.input-name-number::placeholder{
    font-size: 18px;
    transform: translateX(1vw);
    color: 
    rgba(187, 185, 188, 1);
}
.month-year{
    display: flex;
    gap: 1vw;
}
.exp-cvc{
    display: flex;
    gap: 2vw;
}
#label{
    line-height: 2;
}
#not-valid{
    color: red;
}
.button{
    height: 5.5vh;
    width: 27.5vw;
    background-color: rgba(34, 9, 48, 1);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;

}
.mon{
    height: 4.8vh;
    width: 4vw;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.25);

}
.exp{
    height: 4.8vh;
    width: 4vw;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.25);
}
.mon::placeholder{
    font-size: 18px;
    transform: translateX(1vw);
    color: 
    rgba(187, 185, 188, 1);

}
.exp::placeholder{
    font-size: 18px;
    transform: translateX(1vw);
    color: 
    rgba(187, 185, 188, 1);

}
.cvc{
    height: 4.8vh;
    width: 15vw;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.25);
}
.cvc::placeholder{
    font-size: 18px;
    transform: translateX(1vw);
    color: 
    rgba(187, 185, 188, 1);
    text-transform: uppercase;

}
